Schemas/schema_kits.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Kit">
        <xs:complexType>

            <xs:all>
                <xs:element name="Name" type="xs:string"/>

                <xs:element name="Version" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="Template" type="xs:string"/>

                <xs:element name="BuildActions" minOccurs="0">
                    <xs:complexType>

                    </xs:complexType>
                </xs:element>

                <xs:element name="DefaultPackages" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PackageReference" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Name" type="xs:string" use="required"/>
                                    <xs:attribute name="Version" type="xs:string" use="required"/>
                                    <xs:attribute name="Provider" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


            </xs:all>
        </xs:complexType>
    </xs:element>


</xs:schema>