Schemas/schema_components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="Component">
        <xs:complexType>
          
            <xs:all>
                <xs:element name="UID" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[
                            Unique name of the component in the Kit.
                            For example "MyKit.Button"
                            ]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Family" type="xs:string" minOccurs="0"/>
                <xs:element name="Allows" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[
                            List of accepted children using their UID. Values must be separated by ';'.
                            If the component accepts any kind of children, use "*".
                            Examples:
                            <Allows>*</Allows>
                            <Allows>MyKit.Button;MyKit.Heading1</Allows>
                            ]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Denies" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[
                            List of refused children using their UID. Values must be separated by ';'.
                            If the component accepts any kind of children, use "*". 
                            Examples:
                            <Denies>*</Denies>
                            <Denies>MyKit.Button;MyKit.Heading1</Denies>
                            ]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Slots" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="Template" type="xs:string" />


                <xs:element name="Actions" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[
                            This sections allows to specify the contextual actions that appear when the user selects the component in the designer.
                            ]]>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Action" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Header" type="xs:string" use="required"/>
                                    <xs:attribute name="Command" type="xs:string" use="required"/>
                                    <xs:attribute name="Params" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>



                <xs:element name="Features" minOccurs="0" nillable="true">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="InlineEdit" minOccurs="0"/>
                            <xs:element name="SwapTextTag" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        <![CDATA[
                                        This feature allows the user to transform the text tag (headings and paragraphs) into another text tag (headings and paragraphs).
                                        For example:
                                        The user selects a P tag and then selects "Change to Heading 1".
                                        ]]>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element name="ContextualBoxStyle" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="EnableBorderSettings" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="EnableBackgroundSettings" type="xs:boolean" use="optional" default="false"/>
                                </xs:complexType>
                            </xs:element>

                        </xs:all>
                    </xs:complexType>
                </xs:element>
                        
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>